@font-face {
  font-family: "LibreFranklin";
  src: url("./assets/font/LibreFranklin-VariableFont_wght.ttf") format("ttf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "LibreFranklin", sans-serif;
}

#contact {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("./assets/images/contactPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#contact .hero-box .text {
  font-size: 1rem;
  color: red;
  margin-top: 1rem;
}

#menu {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-image: url("./assets/images/menuPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#about {
  position: relative;
  width: 100%;
  background-size: contain;
  background-image: url("./assets/images/aboutPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#about #about-box {
  position: relative;
  top: 10%;
  font-size: 1em;
  padding: 2em;
}

#about #about-box #about-text {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "LibreFranklin", sans-serif;
  font-weight: 100;
  margin: 2em auto;
  padding: 2em;
  width: 50%;
  color: #585858;
}
