@font-face {
  font-family: "LibreFranklin";
  src: url("./assets/font/LibreFranklin-VariableFont_wght.ttf") format("ttf");
  font-weight: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
}

nav ul {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "LibreFranklin", sans-serif;
}

#contact {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url("./assets/images/contactPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#contact .hero-box .text {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  padding: 2rem;
  margin: 2rem auto;
  text-align: right;
}

#contact .hero-box .text h2 {
  margin-right: 100rem;
}

#contact .hero-box .text img {
  width: 80px;
  height: 80px;
}

#menu {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-image: url("./assets/images/menuPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#menu-grid {
  position: relative;
  display: grid;
  grid: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
}

#menu-grid .grid-box {
  margin-top: 5rem;
  margin-top: 2rem;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  font-size: 1rem;
  font-family: "LibreFranklin", sans-serif;
}

#menu-grid .grid-box img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

#about {
  position: relative;
  width: 100%;
  background-size: contain;
  background-image: url("./assets/images/aboutPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#about #about-box {
  position: relative;
  top: 10%;
  font-size: 1em;
  padding: 2em;
}

#about #about-box #about-text {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: "LibreFranklin", sans-serif;
  font-weight: 100;
  margin: 2em auto;
  padding: 2em;
  width: 50%;
  color: #585858;
}
