nav {
  background-color: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border: 3px solid blue;
  font-family: "LibreFranklin", sans-serif;
}

section {
  min-height: 100vh;
}
