#about {
  position: relative;
  width: 100%;
  // background-size: contain;
  @include bg-image("./assets/images/aboutPage.jpg");
  #about-box {
    font-size: 1em;
    padding: 2em;
    #about-text {
      background-color: rgba(255, 255, 255, 0.6);
      text-align: center;
      font-family: "LibreFranklin", sans-serif;
      font-weight: 100;
      margin: 2em auto;
      padding: 2em;
      width: 50%;
      color: rgba(88, 88, 88, 1);
    }
  }
}
