#contact {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  @include bg-image("./assets/images/contactPage.jpg");
  .hero-box .text {
    font-size:1rem;
    color: red;
    margin-top: 1rem;
  }
}