@import "reset";
@import "nav";
@import "contact";
@import "menu";

@font-face {
  font-family: "LibreFranklin";
  src: url('./assets/font/LibreFranklin-VariableFont_wght.ttf') format('ttf');
  font-weight: 800;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



// body {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// @mixin bg-image($image, $repeat: no-repeat, $size: cover) {
//   background-image: url($image);
//   background-size: $size;
//   background-repeat: $repeat;
// }
